#container{
    width: 30vw;
    max-width: 30vw;
    margin: 10vh  auto 0 auto;
    background-color: #FFF;
    box-shadow:
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 4px 20px rgba(0, 0, 0, 0.33);
    border-radius: 5px;
    table {  
        color: #333;
        font-family: Helvetica, Arial, sans-serif;
        width: 30vw; 
        border-collapse: collapse; 
        border-spacing: 0;
        border-radius: 5px;
        padding: 0px 25px 25px;
        .header {
            width: 100%;
            margin-bottom: 20px;
        }
        td, th {  
            border: 1px solid transparent; /* No more visible border */
            height: 30px; 
        }
        th {  
            background: #DFDFDF;  /* Darken header a bit */
            font-weight: bold;
        }       
        td {  
            background: #FAFAFA;
            text-align: center;
        }
        tr:nth-child(even) td { background: #F1F1F1; }
        tr:nth-child(odd) td { background: #FEFEFE; }
    }
}
