body {
  margin: 0;
  background-image:url(hexellence.png);
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

header {
  margin: 0;
  height: 70px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
  margin-top:3px;
}

.logo {
  background-image: url('logo.png');
  background-size: cover;
  width: 56px;
  height: 56px;
  margin: 3px 1% 0 2%;
}

.title {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  ul {
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
      display: flex;
      font-size: 20px;
      line-height: 1;
      letter-spacing: .02em;
      font-weight: 400;
    }
  }
}

.nav {
  padding-right: 3%;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  .log {
    margin: 0;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 5% 0 5%;
      &:hover{
        background-color:#3d4f61;
        cursor: pointer;
      }
    }
  }
  .opt {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 3% 0 3%;
      &:hover{
        background-color:#3d4f61;
        cursor: pointer;
      }
    }
  }
}